<div class="container">
    <div class="header">
        <h1 class="app-title">Medidas corporais</h1>
        <p class="app-sub">Anote as suas medidas corporais</p>
    </div>
    <div class="card form-card medidas-grid">

      <label for="neck">Pescoço</label>
      <input type="number" id="neck" class="input" step="0.01" placeholder="Ex: 30,65">

      <label for="shoulder">Ombros</label>
      <input type="number" id="shoulder" class="input" step="0.01" placeholder="Ex: 50,20">

      <label for="chest">Peito</label>
      <input type="number" id="chest" class="input" step="0.01" placeholder="Ex: 90,25">

      <label for="armsR">Braço direito</label>
      <input type="number" id="armsR" class="input" step="0.01" placeholder="Ex: 35,50">

      <label for="armsL">Braço esquerdo</label>
      <input type="number" id="armsL" class="input" step="0.01" placeholder="Ex: 34,90">

      <label for="forearmsR">Antebraço direito</label>
      <input type="number" id="forearmsR" class="input" step="0.01" placeholder="Ex: 28,10">

      <label for="forearmsL">Antebraço esquerdo</label>
      <input type="number" id="forearmsL" class="input" step="0.01" placeholder="Ex: 27,80">

      <label for="waist">Cintura</label>
      <input type="number" id="waist" class="input" step="0.01" placeholder="Ex: 80,00">

      <label for="hips">Quadril</label>
      <input type="number" id="hips" class="input" step="0.01" placeholder="Ex: 95,30">

      <label for="thighsR">Coxa direita</label>
      <input type="number" id="thighsR" class="input" step="0.01" placeholder="Ex: 55,60">

      <label for="thighsL">Coxa esquerda</label>
      <input type="number" id="thighsL" class="input" step="0.01" placeholder="Ex: 55,10">

      <label for="calfR">Panturrilha direita</label>
      <input type="number" id="calfR" class="input" step="0.01" placeholder="Ex: 38,90">

      <label for="calfL">Panturrilha esquerda</label>
      <input type="number" id="calfL" class="input" step="0.01" placeholder="Ex: 38,40">
      
      <button id="saveMedidas-btn" class="btn">Salvar dados</button>
    </div>
  </div>
